/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Margenes Bottom ==========*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
}

@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
    padding: 4.5rem 0 2.5rem;
}
.section__title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: var(--mb-2);
}
.container {
    max-width: 1100px;
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
}
.grid {
    display: grid;
    gap: 3rem;
}

/*=============== FOOTER ===============*/
footer {
    background-color: #d0d8ff;
    border-radius: 0.5rem;
    padding: 2.5rem;
}
.footer__container {
    margin: 0 auto;
    row-gap: 2rem;
}
.footer__content {
    grid-template-columns: repeat(4, 1fr);
}
.footer__title,
.footer__subtitle {
    font-size: var(--h3-font-size);
}
.footer__title {
    color: brown;
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: var(--mb-0-5);
}
.footer__description {
    margin-bottom: 1rem;
}
.footer__data ul{
    padding: 0;
}
.footer__social {
    color: rgb(118, 18, 212);
    font-size: 1.25rem;
    margin-right: var(--mb-1-25);
    text-decoration: none;
}
.footer__subtitle {
    color: blueviolet;
    margin-bottom: var(--mb-1);
}
.footer__item {
    margin-bottom: var(--mb-0-75);
}
.footer__link {
    color: var(--text-color);
    text-decoration: none;
}
.footer__link:hover {
    color: var(--title-color);
}
.footer__rights {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    text-align: center;
}
.footer__copy,
.footer__terms-link {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}
.footer__terms {
    display: flex;
    column-gap: 1.5rem;
    justify-content: center;
}
.footer__terms-link:hover {
    color: var(--text-color);
}

@media screen and (max-width: 576px) {
    .footer__content {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
}
@media screen and (max-width: 768px) {
    .footer__content {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .footer__rights {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* For large devices */
@media screen and (max-width: 1024px) {
    .footer__content {
    }
}