.no-user{
    text-align: center;
    color: brown;
    height: 300px;
}
.no-user h1{
    color: tomato;
}
.form-group{
    background-color: whitesmoke;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 7px;
}
label{
    font-size: 18px;
    
}
.title, .description, .image{
    margin-top: 8px;
}
.title-field{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid burlywood;
}
.description-field{
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid burlywood;
    height: 100px;
}
.image-field{
    width: 100%;
    padding: 8px;
    background-color: antiquewhite;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid burlywood;
}