.border{
    border: 1px solid tomato;
}
.grid-blog{
    display: grid;
    grid-template-columns: 4fr 8fr;
    gap: 1.5rem;
}
.details{
    margin-top: 1rem;
}
.details h1{
    color: darkgoldenrod;
}
.date{
    margin: 2px 0 10px 0;
}
.details h4{
    margin-top: 5rem;
}
.d-flex{
    display: flex;
}
.flex-row-reverse{
    flex-direction: row-reverse;
}